# VS Code
.vscode/
.vscode-server/

# ROS build artifacts
# ROS 2 colcon build artifacts
robot_ws/build/
robot_ws/install/
robot_ws/log/

server_ws/build/
server_ws/install/
server_ws/log/

# OS / system stuff
.DS_Store
Thumbs.db

# Git / GPG
.gnupg/
.github

# .NET
.dotnet/

# Caches
.cache/

# Logs
*.log

# Ignore any temporary files
*.swp
*~

# ROS-specific ignores
*.pyc
__pycache__/
*.log

.venv/

sklearn-env/

uros_ws/*